@import "tailwindcss";

@layer base {
  body {
    background-color: #F3F4F6;
    color: #111827;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

/* Custom slick scrollbars for tables and views */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}
